.userPhoto {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.userBoxing {
    display: flex;
    flex-flow: row wrap;
}

.userBox {
    flex: 0 0 calc(25% - 22px);
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    margin: 10px;
    border: 1px solid #fff;
    background-color: aquamarine;
    button {
        border: none;
        background-color: yellow;
    }
    a {
        display: block;
    }
}